{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Films à l'affiche :</h1>
                {% for film in films %}
                    <h3>{{ film.name }}</h3>
                    <p>{{ film.description }}</p>
                    <img> {{ film.image }} </img>
                    <br>
                    <a href="{{ path('film_view', {'id' : film.id}) }}">Détail du film</a>
                    <br>
                    <a href="{{ path('films_list') }}">Liste de tous les films</a>
                {% endfor %}
                <br>
                <br>
                <h1>Film par catégories :</h1>
                {% for category in categories %}
                    <a href="{{ path('category_view', {'id' : category.id}) }}"><h3>{{ category.name }}</h3></a>
                {% endfor %}
                <br>
            </div>
        </div>
    </div>
{% endblock %}