{% extends 'base.html.twig' %}
{% block title %}{{ film.name }}{% endblock %}
{% block body %}

    <h1 class="center text-danger">{{ film.name }}</h1>

    <a class="btn btn-light mb-3"  href="{{ path('films_list') }}">Retour</a>
    <div class="card mb-3">
        {# {{ film.image }} #}
        <img class="card-img-top" src="http://via.placeholder.com/894x210" alt="{{ film.name }}">
        <div class="card-body">
            <p class="card-text center">{{ film.description }}</p>
            <a href="{{ path('category_view', { 'id' : film.category.id }) }}">{{ film.category.name }}</a>
        </div>
    </div>


{% endblock %}
