{% extends 'base.html.twig' %}

{% block body %}
            <div id="welcome">
                <h1>Films à l'affiche :</h1>
                <br>
                <div class="row">
                    {% for film in films %}
                        <div class="col-sm-6 col-md-4">
                            <div class="card mb-3" style="width: 18rem;">
                                <img class="card-img-top" src="http://via.placeholder.com/400x200" alt="{{ film.name }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ film.name }}</h5>
                                    <p class="card-text">{{ film.description }}</p>
                                    <a href="{{ path('film_view', {'id' : film.id}) }}" class="btn btn-default">Détails</a>
                                    <a href="{{ path('category_view', { 'id' : film.category.id }) }}" class="btn btn-default">{{ film.category.name }}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <br>
                <h1>Film par catégories :</h1>
                <div class="row">
                {% for category in categories %}
                    <a href="{{ path('category_view', {'id' : category.id}) }}"><h3>{{ category.name }}</h3></a>
                {% endfor %}
                <br>
                </div>
            </div>
{% endblock %}