{% extends 'base.html.twig' %}

{% block title %}Ajouter un Utilisateur{% endblock %}

{% block body %}

    {{ form_start(form) }}
    <h1>Ajouter un Utilisateur</h1>
    <hr>
    <a class="btn btn-light" href="{{ path('adminHome') }}">Dashboard</a>
    <hr>
    <div role="alert">
        {{ form_errors(form, { 'attr': {'class': 'alert alert-danger mb-3'} }) }}
    </div>
    <form action="{{ path('films_add') }}" method="post">
        {{ form_widget(form.username, { 'attr': {'class': 'form-control mb-3','placeholder': 'Nom'} }) }}
        {{ form_widget(form.email, { 'attr': {'class': 'form-control mb-3','placeholder': 'Email'} }) }}
        {{ form_widget(form.plainPassword, { 'attr': {'class': 'form-control mb-3','placeholder': 'Mot de passe'} }) }}
        {{ form_widget(form.isAdmin, { 'attr': {'class': 'form-control mb-3','placeholder': 'Administrateur'} }) }}
        {{ form_rest(form) }}
        <button class="btn btn-lg btn-danger btn-block" type="submit">Ajouter l'utilisateur</button>
    </form>
    {{ form_end(form) }}

{% endblock %}