{% extends 'base.html.twig' %}

{% block title %}Ajouter Film{% endblock %}

{% block body %}

    {{ form_start(form) }}
    <h1>Ajouter un Film</h1>
    <hr>
    <a class="btn btn-light" href="{{ path('adminHome') }}">Dashboard</a>
    <hr>
    <div role="alert">
        {{ form_errors(form, { 'attr': {'class': 'alert alert-danger mb-3'} }) }}
    </div>
    <form action="{{ path('films_add') }}" method="post">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, { 'attr': {'class': 'form-control mb-3'} }) }}
        {{ form_label(form.description) }}
        {{ form_widget(form.description, { 'attr': {'class': 'form-control mb-3'} }) }}
        {{ form_label(form.image) }}
        {{ form_widget(form.image, { 'attr': {'class': 'form-control mb-3'} }) }}
        {{ form_label(form.video) }}
        {{ form_widget(form.video, { 'attr': {'class': 'form-control mb-3'} }) }}
        {{ form_label(form.category) }}
        {{ form_widget(form.category, { 'attr': {'class': 'form-control mb-3'} }) }}
        {{ form_rest(form) }}
        <button class="btn btn-lg btn-danger btn-block" type="submit">Ajouter</button>
    </form>
    {{ form_end(form) }}

{% endblock %}
