{% extends 'base.html.twig' %}

{% block title %}Modifier Film{% endblock %}

{% block body %}

    {{ form_start(form) }}
        <a href="{{ path('adminHome') }}" class="btn btn-default">Retour sur tableau de bord</a>
        <h1>Modifier un Film</h1>
        <hr>
        <div role="alert">
            {{ form_errors(form, { 'attr': {'class': 'alert alert-danger mb-3'} }) }}
        </div>

        <form action="{{ path('films_add') }}" method="post">
            {{ form_widget(form.name, { 'attr': {'class': 'form-control mb-3','placeholder': 'Name'} }) }}
            {{ form_widget(form.description, { 'attr': {'class': 'form-control mb-3','placeholder': 'Description'} }) }}
            {{ form_widget(form.image, { 'attr': {'class': 'mb-3','placeholder': 'Image'} }) }}
            {{ form_widget(form.category, { 'attr': {'class': 'form-control mb-3','placeholder': 'Catégorie'} }) }}
            {{ form_rest(form) }}
            <button class="btn btn-lg btn-danger btn-block" type="submit">Modifier</button>
        </form>

    {{ form_end(form) }}

{% endblock %}
