{% extends 'base.html.twig' %}

{% block title %}{{ film.name }}{% endblock %}

{% block body %}

    <h1 class="center text-danger">{{ film.name }}</h1>

    <a class="btn btn-light mb-3" href="{{ path('filmsAdmin_list') }}">Retour</a>
    <a class="btn btn-light mb-3" href="{{ path('adminHome') }}">Dashboard</a>
    <a class="btn btn-warning mb-3" href="{{ path('film_edit', {'id' : film.id}) }}">Modifier {{ film.name }}</a>
    <div class="card mb-3">
        <img class="card-img-top" src="{{ asset('uploads/images/' ~ film.image) }}" alt="{{ film.name }}">
        <div class="card-body">
            <p class="card-text center">{{ film.description }}</p>
        </div>
    </div>
    <hr>
    <h3 class="center mt-5 mb-5">voir le film</h3>
    <video class="mx-auto d-block" controls preload="auto">
        <source src="{{ asset('uploads/videos/' ~ film.video) }}" type="video/mp4">
        <source src="{{ asset('uploads/videos/' ~ film.video) }}" type="video/webm">
    </video>

{% endblock %}
