{% extends 'base.html.twig' %}

{% block title %}Modifier Catégorie{% endblock %}

{% block body %}

    {{ form_start(form) }}
    <h1>Modifier {{ category.name }}</h1>
    <hr>
    <a class="btn btn-light" href="{{ path('adminHome') }}">Dashboard</a>
    <hr>
    <div role="alert">
        {{ form_errors(form, { 'attr': {'class': 'alert alert-danger mb-3'} }) }}
    </div>

    <form action="{{ path('films_add') }}" method="post">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, { 'attr': {'class': 'form-control mb-3'} }) }}
        {{ form_rest(form) }}
        <button class="btn btn-lg btn-danger btn-block" type="submit">Modifier</button>
        <a href="{{ path('category_delete', { 'id' : category.id }) }}" class="btn btn-lg btn-danger btn-block">Supprimer {{ category.name }}</a>
    </form>

    {{ form_end(form) }}

{% endblock %}
